@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>This is message box</fieldset>
<br />
<fieldset>
    <legend><b>FORGOT PASSWORD?</b></legend>
    <br />
    <form method="post">
        Enter Email:
        <input name="email" />
        <hr />
        <input type="submit" value="Submit" />
        <a href="login.html">Back</a>
    </form>
</fieldset>