
@{
    ViewBag.Title = "TopLikedBooks";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<fieldset>
    <legend>
        <b>Top 20 Most Liked Books</b>
    </legend>

    <table width="100%" cellspacing="0" border="1" cellpadding="5">
        <tr>
            <th align="center">Book Id</th>
            <th align="center">Title</th>
            <th align="center">Author</th>
            <th align="center">Publisher</th>
            <th align="center">Likes</th>
        </tr>
        <tr>
            <td>001</td>
            <td>Divergent</td>
            <td>Veronica Roth</td>
            <td>Publisher King</td>
            <td>45</td>
        </tr>
        <tr>
            <td>006</td>
            <td>Divergent</td>
            <td>Veronica Roth</td>
            <td>Publisher King</td>
            <td>43</td>
        </tr>
        <tr>
            <td>003</td>
            <td>Divergent</td>
            <td>Veronica Roth</td>
            <td>Publisher King</td>
            <td>35</td>
        </tr>
        <tr>
            <td>009</td>
            <td>Divergent</td>
            <td>Veronica Roth</td>
            <td>Publisher King</td>
            <td>31</td>
        </tr>
        <tr>
            <td>005</td>
            <td>Divergent</td>
            <td>Veronica Roth</td>
            <td>Publisher King</td>
            <td>23</td>
        </tr>
        <tr>
            <td>002</td>
            <td>Divergent</td>
            <td>Veronica Roth</td>
            <td>Publisher King</td>
            <td>20</td>
        </tr>
        <tr>
            <td>007</td>
            <td>Divergent</td>
            <td>Veronica Roth</td>
            <td>Publisher King</td>
            <td>11</td>
        </tr>
    </table>
</fieldset>
<br /><hr />