
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <div>
        <fieldset>
            <legend><b>Publisher</b></legend>
            <form method="post">
                <br />
                <table width="600" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td><input name="name" type="text"></td>
                        <td></td>
                    </tr>
                    <tr><td colspan="4"><hr /></td></tr>
                    <tr>
                        <td>Description</td>
                        <td>:</td>
                        <td>
                            <textarea rows="2" cols="50"></textarea>
                        </td>
                        <td></td>
                    </tr>

                </table>
                <hr />
                <input type="submit" value="Submit">
                <input type="reset">
            </form>
        </fieldset>
    </div>
</body>
</html>
