
@{
    Layout = "~/Views/Shared/DeliveryBoy_Layout.cshtml";
}

<h3 align="center">Welcome Bob</h3>
<fieldset>
    <table>
        <tr>
            <td><b>User Since</b></td>
            <td>:</td>
            <td>2 years back</td>
        </tr>
        <tr>
            <td><b>Last Login</b></td>
            <td>:</td>
            <td>3 days ago</td>
        </tr>
    </table>
    Employee job rating out of 5 : 4.12
</fieldset><br />


<img src="../../Resource/Picture/Temp/ichart.png" height="200" width="160">
<img src="../../Resource/Picture/Temp/wrev.png" height="200" width="160">