
@{
    Layout = "~/Views/Shared/DeliveryBoy_Layout.cshtml";
}
<fieldset>
    Employee job rating out of 5 : 4.12
</fieldset><br />

Total number of shipment done : 51<br/>

Total number of shipment done last week : 8<br />

Total number of shipment done last month : 21<br /><br />
<img src="../../Resource/Picture/Temp/ichart.png" height="200" width="160">
<img src="../../Resource/Picture/Temp/wrev.png" height="200" width="160">

<table width="100%" cellspacing="0" border="1" cellpadding="5">
    <tr>
        <th align="left">Area</th>
        <th align="left">Total number of shipment delivery</th>
    </tr>
    <tr>
        <td align="left">Jamuna</td>
        <td align="left">5</td>
    </tr>
    <tr>
        <td align="left">kakoli</td>
        <td align="left">7</td>
    </tr>
    <tr>
        <td align="left">khilkhet</td>
        <td align="left">9</td>
    </tr>
    <tr>
        <td align="left">kuratoli</td>
        <td align="left">12</td>
    </tr>
</table>
